<%- include('../partials/header') %> 

<div class="container">
    <h1>All Countries</h1>
    <% countries.forEach(c => { %>
        <div class="country-list-result-container">
            <img src="/images/flags/<%= c.isoCodeAlpha2 %>.png" alt="<%= c.name %>">
            <div class="country-list-result-info">
                <h5><%= c.name %></h5>
                <a href="/countries/<%= c.id %>" class="btn btn-primary">Explore</a>
                <% if (user && c.usersVisited.includes(user._id) ) { %>
                    <form action="/countries/<%= c.id %>?_method=PUT" method="POST"><input type="submit" value="Remove"class="btn btn-primary"></form>
                <% } else { %>
                    <form action="/countries/<%= c.id %>" method="POST"><input type="submit" value="Add"class="btn btn-primary"></form>
                <% } %>
            </div>
        </div>
    <% }) %>
</div>

<%- include('../partials/footer') %> 