<%- include('../partials/header') %> 

<div class="subnavbar">
    <nav class="container bd-subnavbar py-2" aria-label="Secondary navigation">
        <div class="container-xxl d-flex align-items-md-center justify-content-between">
          <div class="d-flex align-items-md-center left">
            <img src="/images/flags/<%= country.isoCodeAlpha2 %>.png" alt="<%= country.name %>" title="<%= country.name %>">  
            <h2><%= country.name %></h2>
          </div>
          <div class="d-flex align-items-md-center right">
            <form action="/posts/new?" method="GET"><button class="btn btn-primary">Add Journal</button></form>
          </div>
        </div>
    </nav>
</div>

<div id='map' style='width: 100%; height: 300px; margin-bottom: 50px;'></div>
<div style="display:none;">
  <span id="mapLat"><%= country.latitude %></span>
  <span id="mapLng"><%= country.longitude %></span>
  <span id="isoCodes"><%= country.isoCodeAlpha3 %></span>
  <span id="zoom">3</span>
</div>
<%- include('../partials/map') %>

<div class="container">
  <div class="country-stats" id="info">
    <div class="row justify-content-between">
      <div class="col">
        <h4>Wanderers</h4>
        <p><%= country.usersVisited.length %></p>
      </div>
      <div class="col">
        <h4>Journals</h4>
        <p><%= posts.length %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% if (user) { %>
    <h2>My Journals</h2>
    <div class="profile-posts">
      <% if (posts.length > 0) { %>
          <% posts.forEach(p => { %>
            <% if (p.user === req.user._id) { %>
              <div class="d-flex flex-column post-card">
                  <div class="d-flex mb-2 justify-content-between post-card-header">
                      <div class="d-flex flag">
                          <img src="<%= p.countryFlagUri %>">
                          <h4><a href="/posts/<%= p._id %>">
                            <% if (p.title.length < 30) { %>
                              <%= p.title %>
                            <% } else { %>
                              <%= p.title.substring(0,30) %>...  
                            <% } %>
                          </a></h4> 
                      </div>
                      <div class="d-flex justify-content-end details">
                          <img src="<%= p.userAvatar %>" class="user-nav-img">
                      </div>
                  </div>
                  <div class="post-card-excerpt">
                      <p><%= p.content.substring(0, 100) %>...</p>
                  </div>
              </div>
            <% }; %>
          <% }); %>
      <% } else { %>
            <p>No journal entries yet. <% if (user) { %><a href="/posts/new">Create a new journal.</a><% } %></p>
      <% } %>
    </div>
  <% } %>
</div>

<div class="container">
  <h2>Community Journals</h2>
  <div class="community-posts">
    <% if (posts.length > 0) { %>
      <% posts.forEach(p => { %>
        <% if (p.isPrivate === false) { %>
          <div class="d-flex flex-column post-card">
              <div class="d-flex mb-2 justify-content-between post-card-header">
                  <div class="d-flex flag">
                      <img src="<%= p.countryFlagUri %>">
                      <h4><a href="/posts/<%= p._id %>"><% if (p.title.length < 30) { %>
                          <%= p.title %></a></h4>
                      <% } else { %>
                          <%= p.title.substring(0,30) %>...</a></h4>   
                      <% } %>
                  </div>
                  <div class="d-flex justify-content-end details">
                      <img src="<%= p.userAvatar %>" class="user-nav-img">
                  </div>
              </div>
              <div class="post-card-excerpt">
                  <p><%= p.content.substring(0, 100) %>...</p>
              </div>
          </div>
        <% } %>
      <% }) %>
    <% } else { %>
      <p>No journal entries yet. <% if (user) { %><a href="/posts/new">Create a new journal.</a><% } %></p>
    <% } %>
  </div>
</div>

<%- include('../partials/footer') %> 