<%- include('../partials/header') %> 

<div class="subnavbar" style="position: sticky; top: 72px;">
    <nav class="container bd-subnavbar py-2" aria-label="Secondary navigation">
        <div class="container-xxl d-flex align-items-md-center">
            <h2><%= country.name %></h2>
        </div>
    </nav>
</div>

<%- include('../partials/map') %>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-3">
      <h3>Capital</h3>
      <p><%= data.capital %></p>
    </div>
    <div class="col-3">
      <h3>Calling Code</h3>
      <p><%= data.callingCode %></p>
    </div>
    <div class="col-3">
      <h3>Currency Codes</h3>
      <p><%= data.currencyCodes %></p>
    </div>
    <div class="col-3">
      <h3># of Regions</h3>
      <p><%= data.numRegions %></p>
    </div>
  </div>
</div>

<%- include('../partials/footer') %> 