<%- include('../partials/header') %>

<div class="profile-hero"></div>

<div class="container">
    <div class="profile-intro">
        <div class="profile-avatar">
            <img src="<%= user.avatar %>" alt="Avatar">
        </div>
        <div class="profile-bio">
            <h1><%= user.name %></h1>
        </div>
        <div class="profile-actions">
            <form action="/posts/new" method="GET"><input type="submit" value="New Journal"class="btn btn-primary"></form>
            <button class="btn btn-primary">Action #2</button>
        </div>
    </div>
    <h2>Stats</h2>
    <div class="profile-stats">
        <div class="stats-card flags-collected">
            <h3>Flags Collected <small class="text-muted">(<%= userCountries.length %> of 249)</small></h3>
            <div>
                <% userCountries.forEach(c => { %>
                    <img src="/images/flags/<%= c.isoCodeAlpha2 %>.png" alt="<%= c.name %>" title="<%= c.name %>">
                <% }); %>
            </div>
        </div>
        <div class="stats-card badges-collected">
            <h3>Badges Collected</h3>
            <div>
                <% userBadges.forEach(b => { %>
                    <img src="<%= b.badgeImageUri %>" alt="<%= b.name %>" title="<%= b.name %>">
                <% }); %>
            </div>
        </div>
        <div class="stats-card world-percent">
            <h3>World Percent</h3>
            <span><%= Math.round(userCountries.length / 249 * 100) %>%</span>

        </div>
    </div>
    <h2>Journals</h2>
    <div class="profile-posts">
        <% if (userPosts.length > 0) { %>
            <% userPosts.forEach(p => { %>
                <div class="d-flex flex-column post-card">
                    <div class="d-flex mb-2 justify-content-between post-card-header">
                        <div class="d-flex flag">
                            <img src="<%= p.countryFlagUri %>">
                            <h4><a href="/posts/<%= p._id %>"><% if (p.title.length < 30) { %>
                                <%= p.title %></a></h4>
                            <% } else { %>
                                <%= p.title.substring(0,30) %>...</a></h4>   
                            <% } %>
                        </div>
                        <div class="d-flex justify-content-end details">
                            <img src="<%= p.userAvatar %>" class="user-nav-img">
                        </div>
                    </div>
                    <div class="post-card-excerpt">
                        <p><%= p.content.substring(0, 100) %>...</p>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
             <p>No journal entries yet. <% if (user && user._id === req.params.id) { %><a href="/posts/new">Create a new journal.</a><% } %></p>
        <% } %>
    </div>

</div>

<%- include('../partials/footer') %>