<%- include('../partials/header') %>

<div class="container">
    <h1 class="py-5">Wander Journals</h2>
    <div class="profile-posts">
        <% if (posts.length > 0) { %>
            <% posts.forEach(p => { %>
                <% if (p.isPrivate === false) { %>
                    <div class="d-flex flex-column post-card">
                        <div class="d-flex mb-2 justify-content-between post-card-header">
                            <div class="d-flex flag">
                                <img src="<%= p.countryFlagUri %>">
                                <h4><a href="/posts/<%= p._id %>"><% if (p.title.length < 30) { %>
                                    <%= p.title %></a></h4>
                                <% } else { %>
                                    <%= p.title.substring(0,30) %>...</a></h4>   
                                <% } %>
                            </div>
                        </div>
                        <div class="post-card-excerpt">
                            <p><%- p.content.substring(0, 200) %><% if (p.content.length > 200) { %><span>...</span><% } %></p>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex align-items-center w-50">
                                <a href="/users/<%= p.user %>"><img src="<%= p.userAvatar %>" class="user-nav-img"></a>
                                <a href="/users/<%= p.user %>"><p class="mb-0 mx-3"><strong><%= p.userName %></strong></p></a>
                                <p class="mb-0 mx-2"data-toggle="tooltip" data-placement="top" title="Published"><small><%= p.createdAt.toDateString() %></small></p>
                                <i class="fa-solid fa-globe mx-2" data-toggle="tooltip" data-placement="top" title="Public"></i>
                            </div>
                            <div class="d-flex justify-content-end w-50">
                                <form action="/posts/<%= p._id %>" method="GET"><button type="submit" class="btn btn-primary">Read</button></form>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        <% } else { %>
             <p>No journal entries yet. <% if (user && user._id === req.params.id) { %><a href="/posts/new">Create a new journal.</a><% } %></p>
        <% } %>
    </div>
</div>


<%- include('../partials/footer') %>